{% extends 'base.html.twig' %}

{% block title %}Hello MedalController!{% endblock %}

{% block body %}
    {{ form_start(medalForm) }}
        <button type="submit">Valider</button>
    {{ form_end(medalForm) }}
{% endblock %}
